# Ignora arquivos de build de containers e dados brutos de sequenciamento em formato fastq / fastq.gz
*.sif
*.fastq
*.fastq.gz
*.html
old/
sifs/

# Ignora arquivos de resultados de análises e logs
results/
*.out
*.err